*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: radial-gradient(circle at top, #1e293b, #0f172a);
}

/* CONTAINER */
.calculadora{
  width:340px;
  background:#111827;
  border-radius:20px;
  padding:18px;
  box-shadow:0 20px 60px rgba(0,0,0,0.5);
}

/* DISPLAY */
.display{
  background:#0b1220;
  border-radius:14px;
  padding:16px;
  margin-bottom:15px;
  color:white;
  text-align:right;
  overflow:hidden;
}

.expr{
  font-size:1.2rem;
  opacity:0.7;
  min-height:20px;
}

.result{
  font-size:2rem;
  font-weight:bold;
  margin-top:5px;
  color:#22c55e;
  min-height:30px;
}

/* BOTÕES */
.botoes{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}

button{
  height:60px;
  border:none;
  border-radius:12px;
  font-size:1.2rem;
  cursor:pointer;
  transition:0.15s;
  background:#1f2937;
  color:white;
}

button:hover{
  transform:scale(1.05);
  background:#374151;
}

.op{
  color:#60a5fa;
}

.clear{
  background:#ef4444;
}

.equal{
  background:#22c55e;
  grid-row:span 2;
}

.zero{
  grid-column:span 2;
  }
