*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#141e30,#243b55);
}

.calculadora{
  width:320px;
  background:#1f2937;
  padding:20px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

#display{
  height:80px;
  background:#111827;
  color:white;
  font-size:2rem;
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
  overflow:hidden;
}

.botoes{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}

button{
  height:60px;
  border:none;
  border-radius:12px;
  font-size:1.2rem;
  cursor:pointer;
  transition:0.2s;
  background:#374151;
  color:white;
}

button:hover{
  transform:scale(1.05);
}

.limpar{
  background:#ef4444;
}

.igual{
  background:#10b981;
}

.zero{
  grid-column:span 2;
}
